.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 8rem;
    color: #cfcfcf;
    position: fixed;
    z-index: 1;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}


.menu nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.menu nav ul li {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    transition: border 0.2s ease-in-out;
    position: relative;
    list-style-type: none;
}

.menu li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: all 0.2s ease;
}

.menu li:hover {
    color: var(--white);
}

.menu li:hover::before {
    width: 100%;
    color: var(--white);
}

