* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

section {
    height: 100vh;
}

h1 {
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
}

h2 {
    color: var(--white);
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* INICIO */
.main__content .text-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60rem;

    & .description {
        max-width: 40rem;
    }
}

.main__content .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content .img-content .circle {
    border-radius: 50%;
}

/* SOBRE MIM */
.text-content .buttons {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.text-content .buttons .sobremim-button {
    background-color: transparent;
    color: #c3c3c3;
    border: 1px solid #c3c3c3;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: var(--white);
        border: 1px solid var(--white);
        transform: scale(1.05);
    }
}

.content {
    display: none;
    height: 30rem;
}

.text-content .buttons .sobremim-button.selected {
    background-color: #c3c3c3;
    color: #000;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: #000;
        border: 1px solid #000;
        transform: scale(1.05);
    }
}

.sobremim-img-content {
    position: relative;
    right: 20rem;
}

.block {
    display: block;
    position: relative;
    background-color: #000;
    height: 32rem;
    width: 25rem;
    left: 23rem;
    bottom: 2rem;
    transform: scale(1.5);
}

.sobremim-img {
    height: 32rem;
    width: 25rem;
    transform: scale(1.5);
    z-index: 1;
}

