* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

section {
    min-height: 100vh;
    overflow-x: none;
}

h1 {
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
}

h2 {
    color: var(--white);
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

.base-button {
    background-color: transparent;
    color: #c3c3c3;
    border: 1px solid #c3c3c3;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: var(--white);
        border: 1px solid var(--white);
        transform: scale(1.05);
    }
}

/* INICIO */

.main__content .text-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60rem;

    & .description {
        max-width: 40rem;
    }
}

.main__content .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content .img-content .home-img {
    border-radius: 50%;
}

.home-button {
    font-weight: bold;
    font-size: 17px;
    padding: 1.5rem;
    margin: 2rem 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.05);
    }
}

#cv-download {
    background-color: var(--white);
}

#contact {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    margin-left: 2rem;
}

/* SOBRE MIM */
.buttons {
    display: flex;
    justify-content: space-between;
}

.w30rem {
    width: 30rem;
}

.w15rem {
    width: 15rem;
}

.sobremim-content {
    height: 40rem;
    overflow-y: auto;

}

.sobremim-content ul li {
    font-size: 20px;
    margin: 1rem 0;
    list-style-type: none;
}

.text-content .buttons .sobremim-button.selected {
    background-color: #c3c3c3;
    color: #000;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: #000;
        border: 1px solid #000;
        transform: scale(1.05);
    }
}

.sobremim-img-content {
    position: relative;
    right: 20rem;
}


.block {
    display: block;
    position: relative;
    background-color: #000;
    height: 32rem;
    width: 25.5rem;
    left: 23rem;
    bottom: 2.5rem;
    transform: scale(1.5);
    border-radius: 10px;
}

.sobremim-img {
    height: 32rem;
    width: 25rem;
    transform: scale(1.5);
    z-index: 1;
    border-radius: 10px;
}


/* CONHECIMENTOS */

#conhecimentos {
    padding: 10rem;
}

.conhecimentos-content {
    width: 100%;
}

.title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-gray);
}

.grid-container {
    display: flex;
}

.technology-description {
    background-color: #272727;
    margin: auto;
    padding: 3rem;
    max-width: 30%;
    border-radius: 40px;
}

.grid-conhecimentos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.title-conhecimentos {
    margin-bottom: 10rem;
}

.base-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 19rem;
    width: 19rem;
    background-color: #272727;
    color: var(--white);
    border-radius: 40px;
    transition: all 0.5s ease;
}

.box {
    justify-content: center;
}

.mongodb-box {
    justify-content: flex-end;
}

.logo {
    height: 80%;
}

.nodejs-logo {
    width: 90%;
}

.mongodb-logo {
    height: 30%;
    margin-bottom: 4rem;
}

.box:hover, .mongodb-box:hover {
    transform: scale(1.1);
    background-color: #585858;
}

/* PROJETOS */

.projetos-content {
    width: 70%;
    margin-top: 10rem;
}

.projetos-list {
    margin-top: 10rem;
}

.box-flex-end {
    display: flex;
    justify-content: flex-end;
}

.title-projetos {
    margin: 3rem 0;
}

.projeto-box {
    background-color: #3a3a3a;
    width: 70%;
    border-radius: 70px;
    padding: 4rem;
    margin: 3rem 0;
}

.projeto-box-content {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.projeto-img {
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
}

.projeto-info {
    padding: 0.5rem 0;

    & p {
        font-size: 20px;
        margin-bottom: 2rem;
    }
}
